/* GameCard */
.game-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: 1rem;
  margin: 0.5rem;
}

/* Login & Register */
.row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-container,
.register-container {
  margin: 2rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: 1rem;
}

.login-container input,
.register-container input {
  margin-bottom: .7rem;
}

.login-container button,
.register-container button {
  margin: .7rem 0;
}

/* Home */
.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* CategoryFilter */
.category-filter {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  border-radius: .25rem;
  padding: .2rem;
  margin: 0.5rem;
}

/* GameCards */
.carousel-control-next {
  right: -100px;
}

.carousel-control-prev {
  left: -100px;
}


.carousel-control-next span,
.carousel-control-prev span {
  filter: invert(100%);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c5c5c;
  color: #fbfbfb;
  padding: 1rem;
  margin-bottom: 2rem;
}

.profile-icon {
  font-size: 40px;
  color: #fbfbfb;
  cursor: pointer;
  margin-left: 1rem;
}

/* InputField */
.input-field {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  border-radius: .25rem;
  padding: .7rem;
  margin: 0.5rem 0;
}

.profile-container {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: .7rem;
  margin: 0.5rem;
}

.input-field svg {
  color: #5c5c5c;
  cursor: pointer;
  margin-left: 1rem;
}

.input-field label {
  border-bottom: 1px solid #9c9c9c;
}

.edit-input {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: rgb(0, 0, 0);
  border-radius: .25rem;
  margin: 0.5rem 0;
  padding: 0rem .5rem;
}

/* GamePage */
.game-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* GameRating */
.rating-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: 1rem;
}

.rating-description {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: .7rem;
  margin: 0.5rem;
  width: 20rem;
}

/* GameReviews */
.reviews-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: 1rem;
}

.review-item {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: .7rem;
  margin: 0.5rem;
}

.review-items {
  padding: .7rem;
  margin: 0.5rem;
}

.review-item button {
  margin-top: 0.5rem;
}
